.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   padding-bottom: 94px;
}

.hero-btn {
   background-color: var(--bg-ourteam);
   font-size: 16px;
   font-weight: 500;
   border: none;
   padding: 6px 25px;
   align-items: center;
   text-align: center;
   border-radius: 4px;
   color: var(--main-font-color);
   cursor: pointer;
   font-family: inherit;
   line-height: 1.625;
}

.hero-btn:hover {
   background-color: var(--hover-focus-color);
   color: var(--main-light);
}

.hero-btn:focus {
   background-color: var(--hover-focus-color);
   color: var(--main-light);
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.container-bg {
   background-color: var(--main-ligh);
   border: 1px solid var(--border-color);
}

.my-work-title {
   color: var(--main-font-color);
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
}

.my-work-text {
   color: var(--secondary-font-color);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.875;
}
