:root{
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --main-light: #FFFFFF;
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --hover-focus-color: #2196F3;
    --footer-contact-color: #FFFFFF99;
    --dark-bg-color: #2F303A;
    --btn-active: #188CE8;
    --border-color: #EEEEEE;
    --bg-ourteam: #F5F4FA;
}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
}

header {
    letter-spacing: 0.02em;
}